<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular-Restful</title>
    <meta name="description" content="">
    <meta name="author" content="Esdras Eduardo">

    <script type="text/javascript" src="components/jquery/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="components/bootstrap/docs/assets/css/bootstrap.css" />
    <script type="text/javascript" src="components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>

    <script type="text/javascript" src="components/google-code-prettify/src/prettify.js"></script>
    <link type="text/css" rel="stylesheet" href="css/prettify.css" />

    <script type="text/javascript" src="restful.js"></script>

    <script type="text/javascript" src="apps/angular-restful.js"></script>
    <script type="text/javascript" src="controllers/UserController.js"></script>
    <script type="text/javascript" src="controllers/PostController.js"></script>
    <script type="text/javascript" src="services/angular-restful.js"></script>

  </head>
  <body data-spy="scroll" data-target=".navbar" ng-app="angular-restful">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Angular-restful</a>
          <a></a>
          <div class="navbar-content">
            <ul class="nav">
              <li class="active">
                <a href="#home">Download</a> 
              </li>
              <li>
                <a href="#install">Install</a> 
              </li>
              <li>
                <a href="#config">Config</a> 
              </li>
              <li>
                <a href="#docs">Docs</a> 
              </li>
              <li>
                <a href="#sample">Sample</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit center" id="home">
        <h1>Angular-Restful</h1>
        <p>Angular factory for restful, simple and easy.</p>
        <p></p>
        <a class="btn btn-large" target="_blank" href="https://github.com/esdrasedu/angular-restful"><i class="icon-download-alt"></i>Github project<br></a>
        <a class="btn btn-primary btn-large" target="_blank" href="https://github.com/esdrasedu/angular-restful/tags"><i class="icon-download-alt icon-white"></i> Download</a>
        <span class="disabled">version {{gem.version}}</span> 
      </div>
      <h1 id="install">&nbsp;</h1>
      <h1>Install</h1>
      <h3>Gem</h3>
	  <pre class="prettyprint linenums">
gem install angular-restful
</pre>
	  <h3>Bundle</h3>
	  <pre class="prettyprint linenums">
gem "angular-restful"
</pre>
      <h3>Bower</h3>
	  <pre class="prettyprint linenums">
bower install angular-restful
</pre>
      <h3>Manual</h3>
      <p>You can install manually, but is not recommended</p>
	  <pre class="prettyprint linenums">
&lt;script src=&quot;//cdn.jsdelivr.net/angular-restful/current_version/angular-restful-min.js&quot;&gt;&lt;/script&gt;
</pre>
	  <h1 id="config">&nbsp;</h1>
      <h1>Config</h1>
      <p>Angular-restful depends on the
        <a target="_blank" href="http://angularjs.org/">angular</a>, if you don't know how install and config, please go to
        <a target="_blank" href="http://angularjs.org/">angular project</a> 
      </p>
	  <pre class="prettyprint linenums">
angular.module('yourModule', ['restful']);
</pre>
	  <h1 id="docs">&nbsp;</h1>
      <h1>Docs</h1>
	  <h3>$restful</h3>
      <pre class="prettyprint linenums">
angular.module('app', ['restful'])
.run(function($restful){
	$restful.$baseURL = 'http://localhost:3000';
	$restful.$defaultActions['list'] = {method:'GET', isArray:true, params:{limit: 30}};
});
</pre>
      <h4>Attributes</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$defaultActions</td>
            <td>Object</td>
            <td>{</br>'get':{method:'GET'},</br>'query':{method:'GET', isArray:true},</br>'create':{method:'POST'},</br>'update':{method:'PUT'},</br>'destroy':{metresourcehod:'DELETE'</br>}</td>
            <td>These methods are default of resource rails, can be modified before you create restful</td>
          </tr>
          <tr>
            <td>$baseURL</td>
            <td>String</td>
            <td>""</td>
            <td>Url based of restful</td>
          </tr>
        </tbody>
      </table>
      <h3>RestfulFactory</h3>
      <pre class="prettyprint linenums">
angular.module('service', ['restful'])
.factory('User', ['$restful', function($restful) {
	return $restful('/user', {except:['query']});
}])
.factory('Post', ['$restful', function($restful) {
	return $restful('/posts/:id');
}]);
</pre>
      <h4>Options</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>params</td>
            <td>Object</td>
            <td>{}</td>
            <td>Default values for url parameters. Equals of $resource</td>
          </tr>
          <tr>
            <td>actions</td>
            <td>Object</td>
            <td>{}</td>
            <td>Hash with declaration of custom action that should extend the default set of restful actions.</br>Equals of $resource ({method:?, params:?, isArray:?})</td>
          </tr>
		  <tr>
            <td>baseURL</td>
            <td>String</td>
            <td>null</td>
            <td>If you need change override $restful.$baseURL</td>
          </tr>
          <tr>
            <td>only</td>
            <td>Array</td>
            <td>null</td>
            <td>Add methods default only if have key in this array</td>
          </tr>
          <tr>
            <td>except</td>
            <td>Array</td>
            <td>null</td>
            <td>Add all methods default except if have key in this array</td>
          </tr>
        </tbody>
      </table>
      <h3>Restful</h3>
            <pre class="prettyprint linenums">
angular.module('app', ['service'])
.run(function(User, Post){
	var user = new User();
	var post = new Post({contet:'Test restful'});
	var post = post.$create([user], function(){
		post.$destroy();
	});
});
</pre>
      <h4>Options</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>params</td>
            <td>Object</td>
            <td>{}</td>
            <td>Default values for url parameters. Equals of $resource</td>
          </tr>
          <tr>
            <td>data</td>
            <td>Object</td>
            <td>{}</td>
            <td>Post data, Equals of $resource</td>
          </tr>
          <tr>
            <td>resources</td>
            <td>Array</td>
            <td>null</td>
            <td>Array with restful instances, the order of array is important because route follows this order</br>This array is extend of result, for resets only set array empty</td>
          </tr>
          <tr>
            <td>success</td>
            <td>Function</td>
            <td>null</td>
            <td>Function for success in request</td>
          </tr>
          <tr>
            <td>error</td>
            <td>Function</td>
            <td>null</td>
            <td>Function for error in request</td>
          </tr>
        </tbody>
      </table>
	  <h1 id="sample">&nbsp;</h1>
      <h1>Sample</h1>
	  <p>Simple sample of User, Post, Category CRUD</p>
	  
	  <div class="bs-docs-example">
		<ul id="myTab" class="nav nav-tabs">
		  <li class="active"><a href="#appSample" data-toggle="tab">App</a></li>
		  <li><a href="#controllerSample" data-toggle="tab">Controller</a></li>
		  <li><a href="#ServiceSample" data-toggle="tab">Service</a></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="#viewSampleUser" data-toggle="tab">User</a></li>
			  <li><a href="#viewSamplePost" data-toggle="tab">Post</a></li>
			</ul>
		  </li>
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade in active" id="appSample">
<pre class="prettyprint linenums">
angular.module('angular-restful', ['angular-restful.service'])
.config(function($httpProvider, $routeProvider) {

    var views = './views';
    $routeProvider.when('/users', {
        templateUrl: views+'/user/list.html',
        controller: UserController
    }).when('/users/:id_user/posts', {
        templateUrl: views+'/post/list.html',
        controller: PostController
    });
})
.run(function($rootScope, $restful){
    $restful.$baseURL = 'http://localhost:3000';
});
</pre>
          </div>
		  <div class="tab-pane fade" id="controllerSample">
<pre class="prettyprint linenums">
function UserController($scope, User){
    $scope.users = User.query();
    $scope.user = null;
    $scope.create = function(){
        $scope.user = new User();
    };
    $scope.cancel = function(){
        $scope.user = null;
    };
    $scope.edit = function( $user ){
        $scope.user = $user;
    };
    $scope.save = function(){
        if( angular.isDefined($scope.user.id) ) {
            $scope.user.$update(function(){
                $scope.user = null;
            });
        } else {
            $scope.user.$create(function( $user ){
                $scope.users.unshift($user);
                $scope.user = null;
            });
        }
    };
    $scope.remove = function( $user ){
        $user.$destroy(function(){
            $scope.users.splice($scope.users.indexOf($user), 1);
        });
    };
    $scope.cancel = function(){
        $scope.user = null;
    };
}
function PostController($routeParams, $scope, User, Post, Category){
    var id_user = $routeParams.id_user;
    var user_current = new User({id: id_user});
    $scope.posts = Post.query([user_current]);
    $scope.categories = Category.query();
    $scope.post = null;
    $scope.create = function(){
        $scope.post = new Post();
    };
    $scope.cancel = function(){
        $scope.post = null;
    };
    $scope.edit = function( $post ){
        $scope.post = $post;
    };
    $scope.save = function(){
        if( angular.isDefined($scope.post.id) ) {
            $scope.post.$update(function(){
                $scope.post = null;
            });
        } else {
            $scope.post.$create([user_current], function( $post ){
                $scope.posts.unshift($post);
                $scope.post = null;
            });
        }
    };
    $scope.remove = function( $post ){
        $post.$destroy(function(){
            $scope.posts.splice($scope.posts.indexOf($post), 1);
        });
    };
    $scope.cancel = function(){
        $scope.post = null;
    };
}
</pre>
          </div>
		  <div class="tab-pane fade" id="ServiceSample">
<pre class="prettyprint linenums">
angular.module('angular-restful.service', ['restful'])
.factory('User', ['$restful', function($restful) {
	return $restful('/users/:id', {params:{id:'@id'}});
}])
.factory('Post', ['$restful', function($restful) {
	return $restful('/posts/:id', {params:{id:'@id'}});
}])
.factory('Category', ['$restful', function($restful) {
	return $restful('/categories/:id', {params:{id:'@id'}});
}]);
</pre>
          </div>
		  <div class="tab-pane fade" id="viewSampleUser">
<pre class="prettyprint linenums" ng-non-bindable>
&lt;form name=&quot;form&quot;&gt;
    &lt;div class=&quot;control-group&quot;&gt;
        &lt;label&gt;Name&lt;/label&gt;
        &lt;input type=&quot;text&quot; name=&quot;name&quot; ng-model=&quot;user.name&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;control-group&quot;&gt;
        &lt;label&gt;E-mail&lt;/label&gt;
        &lt;input type=&quot;email&quot; name=&quot;email&quot; ng-model=&quot;user.email&quot;&gt;
    &lt;/div&gt;
    &lt;button ng-click=&quot;cancel()&quot; class=&quot;btn&quot;&gt;Cancel&lt;/button&gt;
    &lt;button ng-click=&quot;save()&quot; class=&quot;btn btn-primary&quot;&gt;Save&lt;/button&gt;
&lt;/form&gt;
&lt;table&gt;
    &lt;thead&gt;
    &lt;tr&gt;
        &lt;th style=&quot;width: 250px&quot;&gt;Name&lt;/th&gt;
        &lt;th style=&quot;width: 150px&quot;&gt;E-mail&lt;/th&gt;
        &lt;th style=&quot;width: 55px&quot;&gt;
            &lt;a ng-click=&quot;create()&quot;&gt;&lt;i class=&quot;icon-plus-sign&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
    &lt;tr ng-repeat=&quot;user in users | orderBy:'name'&quot;&gt;
        &lt;td&gt;{{user.name}}&lt;/td&gt;
        &lt;td&gt;{{user.email}}&lt;/td&gt;
        &lt;td&gt;
            &lt;a href=&quot;#/users/{{user.id}}/posts&quot; data-toggle=&quot;tooltip&quot; title=&quot;Posts&quot;&gt;&lt;i class=&quot;icon-list&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a ng-click=&quot;edit(user)&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a ng-click=&quot;remove(user)&quot;&gt;&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</pre>
          </div>
            <div class="tab-pane fade" id="viewSamplePost">
<pre class="prettyprint linenums" ng-non-bindable>
&lt;form name=&quot;form&quot;&gt;
     &lt;div class=&quot;control-group&quot;&gt;
         &lt;label&gt;Content&lt;/label&gt;
         &lt;textarea name=&quot;content&quot; ng-model=&quot;post.content&quot;&gt;&lt;/textarea&gt;
     &lt;/div&gt;
     &lt;div class=&quot;control-group&quot;&gt;
         &lt;label&gt;Category&lt;/label&gt;
         &lt;select name=&quot;category_id&quot; ng-model=&quot;post.category_id&quot;&gt;
             &lt;option ng-repeat=&quot;category in categories&quot; value=&quot;{{category.id}}&quot; ng-selected=&quot;category.id==post.category_id&quot;&gt;{{category.name}}&lt;/option&gt;
         &lt;/select&gt;
     &lt;/div&gt;
     &lt;button ng-click=&quot;cancel()&quot; class=&quot;btn&quot;&gt;Cancel&lt;/button&gt;
     &lt;button ng-click=&quot;save()&quot; class=&quot;btn btn-primary&quot;&gt;Save&lt;/button&gt;
 &lt;/form&gt;
 &lt;table&gt;
    &lt;thead&gt;
    &lt;tr&gt;
        &lt;th style=&quot;width: 250px&quot;&gt;Content&lt;/th&gt;
        &lt;th style=&quot;width: 150px&quot;&gt;Category ID&lt;/th&gt;
        &lt;th style=&quot;width: 55px&quot;&gt;
            &lt;a ng-click=&quot;create()&quot;&gt;&lt;i class=&quot;icon-plus-sign&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
    &lt;tr ng-repeat=&quot;post in posts | orderBy:'created_at'&quot;&gt;
        &lt;td&gt;{{post.content}}&lt;/td&gt;
        &lt;td&gt;{{post.category_id}}&lt;/td&gt;
        &lt;td&gt;
            &lt;a ng-click=&quot;edit(post)&quot;&gt;&lt;i class=&quot;icon-pencil&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;a ng-click=&quot;remove(post)&quot;&gt;&lt;i class=&quot;icon-remove&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</pre>
            </div>
		</div>
	  </div>
	  <h3>Demo</h3>
      <div ng-include="'views/index.html'">
      </div>
      <h1 id="users">&nbsp;</h1>
      <script>
        $(document).ready(function() {
            prettyPrint();
        });
      </script>
  </body>
<html>