<div ng-include="'./views/user/form.html'" ng-show="user"></div>
<table>
    <thead>
    <tr>
        <th style="width: 250px">Name</th>
        <th style="width: 150px">E-mail</th>
        <th style="width: 55px">
            <a class="btn-link" ng-click="create()"><i class="icon-plus-sign"></i></a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users | orderBy:'name'">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
            <a class="btn-link" href="#/users/{{user.id}}/posts" title="Posts"><i class="icon-list"></i></a>
            <a class="btn-link" ng-click="edit(user)" title="Edit"><i class="icon-pencil"></i></a>
            <a class="btn-link" ng-click="remove(user)" title="Remove"><i class="icon-remove"></i></a>
        </td>
    </tr>
    </tbody>
</table>